
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>
<p>
    <input type="text" placeholder="Tipo de Seguro" name="Seguro" />

</p>
<p>
    <input type="number" placeholder="Valor" name="Valor" />
   
</p>

<button type="submit">Confirmar</button>
