
@{
    ViewBag.Title = "Cadastro";
}

<header class="masthead">

    <div class="container page-content">

        <div class="row">
            <div class="col-12">
                <h2>Cadastro Cliente</h2>
            </div>

            <div class="col-8">
                <input type="text" placeholder="Nome Completo" name="Nome" class="form-control" />
            </div>
            <div class="col-4">
                <input type="date" placeholder="Data de nasc" name="Data nasc" class="form-control" />
            </div>

            <div class="col-6">
                <input type="text" placeholder="RG" name="RG" class="form-control" />
            </div>
            <div class="col-6">
                <input type="text" placeholder="CPF" name="CPF" class="form-control" />
            </div>

            <div class="col-12">
                <input type="text" placeholder="Endereço" name="Endereço" class="form-control" />
            </div>
            <div class="col-12">
                <input type="text" placeholder="Complemento" class="form-control" />
            </div>
            <div class="col-8">
                <input type="text" placeholder="Cidade" name="Cidade" class="form-control" />
            </div>
            <div class="col-4">
                <select class="form-control">
                    <option value="UF">UF</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraiba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernanmbuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SE">Sergipe</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="col-6">
                <input type="email" placeholder="Email" name="Email" class="form-control" />
            </div>
            <div class="col-6">
                <input type="email" placeholder="Email" name="Email" class="form-control" />
            </div>
            <div class="col-3">
                <input type="text" placeholder="Telefone" name="Telefone" class="form-control" />
            </div>
            <div class="col-3">
                <input type="text" placeholder="Telefone" name="Telefone" class="form-control" />
            </div>
            <div class="col-6">
                <input type="text" placeholder="Passaporte" name="Passaporte" class="form-control" />
            </div>


        </div>
        <hr />
        <div class="row">
            <div class="col-4">
                <input type="button" class="btn btn-success" value="Confirmar" onclick="Confirmar();" />
            </div>

        </div>

    </div>


</header>

@section scripts{

    <script>
        function Confirmar() {
            alert('Cadastrado com exito!');
        }

    </script>

}
