@{
    ViewBag.Title = "Home Page";
}


<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">INTERCLASS</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">QUEREMOS TE GARANTIR UMA ÓTIMA EXPERIÊNCIA EM INTERCÂMBIO!</p>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Nós temos o que você precisa!</h2>
                <hr class="divider light my-4">
                <p class="text-white-50 mb-4">InterClass tem tudo o que você precisa para fazer a viagem de intercambio dos seus sonhos! Monte sua viagem de intercâmbio com nossos planos e pacotes. Estamos esperando!</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#">Planos!</a>
            </div>
        </div>
    </div>
</section>


<!-- Services Section -->
<section class="page-section" id="plano">
    <div class="container">
        <h2 class="text-center mt-0">Planos</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Plano 1</h3>
                    <p class="text-muted mb-0">Esse é o plano 1!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Plano 2</h3>
                    <p class="text-muted mb-0">Esse é o plano 2.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Plano 3</h3>
                    <p class="text-muted mb-0">Esse é o plano 3!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Plano 4</h3>
                    <p class="text-muted mb-0">Esse é o plano 4</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- pacote Section -->
<section id="pacote">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="pacote-box" href="img/pacote/fullsize/1.jpg">
                    <img class="img-fluid" src="img/pacote/thumbnails/1.jpg" alt="">
                    <div class="pacote-box-caption">
                        <div class="project-category text-white-50">
                            Australia
                        </div>
                        <div class="project-name">
                            Sidney
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pacote-box" href="img/pacote/fullsize/2.jpg">
                    <img class="img-fluid" src="img/pacote/thumbnails/2.jpg" alt="">
                    <div class="pacote-box-caption">
                        <div class="project-category text-white-50">
                            Estados Unidos
                        </div>
                        <div class="project-name">
                            Miami
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pacote-box" href="img/pacote/fullsize/3.jpg">
                    <img class="img-fluid" src="img/pacote/thumbnails/3.jpg" alt="">
                    <div class="pacote-box-caption">
                        <div class="project-category text-white-50">
                            Inglaterra
                        </div>
                        <div class="project-name">
                            Londres
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pacote-box" href="img/pacote/fullsize/4.jpg">
                    <img class="img-fluid" src="img/pacote/thumbnails/4.jpg" alt="">
                    <div class="pacote-box-caption">
                        <div class="project-category text-white-50">
                            Irlanda
                        </div>
                        <div class="project-name">
                            Dublin
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pacote-box" href="img/pacote/fullsize/5.jpg">
                    <img class="img-fluid" src="img/pacote/thumbnails/5.jpg" alt="">
                    <div class="pacote-box-caption">
                        <div class="project-category text-white-50">
                            Escocia
                        </div>
                        <div class="project-name">
                            Glasgow
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pacote-box" href="img/pacote/fullsize/6.jpg">
                    <img class="img-fluid" src="img/pacote/thumbnails/6.jpg" alt="">
                    <div class="pacote-box-caption p-3">
                        <div class="project-category text-white-50">
                            Canadá
                        </div>
                        <div class="project-name">
                            Montreal
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section class="page-section" id="seguro">
    <div class="container">
        <h2 class="text-center mt-0">Seguros</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Seguro 1</h3>
                    <p class="text-muted mb-0">Esse é o seguro 1!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Seguro 2</h3>
                    <p class="text-muted mb-0">Esse é o seguro 2.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Seguro 3</h3>
                    <p class="text-muted mb-0">Esse é o seguro 3!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Seguro 4</h3>
                    <p class="text-muted mb-0">Esse é o seguro 4</p>
                </div>
            </div>
        </div>
    </div>
</section>

